<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<!--Conexion mica-->
		<!--<add name ="cadena_conexion"  connectionString="Data Source=DESKTOP-K5JDDT6\SQLEXPRESS0;Initial Catalog=BD_BYS_CARDOZO;Integrated Security=True;Encrypt=False;TrustServerCertificate=True;
" providerName="System.Data.SqlClient"
			  />-->
		
		<!--Conexion Paz-->
		<add name ="cadena_conexion"  connectionString="Data Source=DESKTOP-JAVR5CH\SQLEXPRESS;Initial Catalog=BD_BYS_CARDOZO;Integrated Security=True;Encrypt=False" providerName="System.Data.SqlClient"
			  />
	</connectionStrings>
</configuration>